:root {
    --color:#312F3A;
    --font: 'Maven Pro';
    --font2: "Space Grotesk", sans-serif;
    --font3: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

a, li, p {
    font-family: var(--font3);
    font-weight: 600;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease !important;
}
.collapse.in {
    display: block !important;
}




.titles {
    font-family: var(--font2);
    font-size: 6.4rem;
}
.texts {
    font-size: 2.8rem;
    font-family: var(--font2);
    font-weight: 600;
}
.texts2 {
    font-size: 2rem;
    font-family: var(--font2);
    font-weight: 600;
}

.App {
    width: 100%;
}
.main{
    padding: 0 8em;
    width: 80%;
    margin: 0 auto;
    min-width: 1120px;
}
html {font-size: 10px;
height: -webkit-fill-available;
overflow-x: hidden;}

body {
    font-family: var(--font), sans-serif;
    font-size: 1.6rem;
    overflow: hidden;

    line-height: 1.25;
    overflow-x: hidden;
    color: #312f3a;
}


p {
    font-size: 22px;
    line-height: 1.4;
}

h1,h2 {
    color: #312f3a;
    font-size: 7.2rem !important;
    white-space: nowrap;
    font-family: var(--font2);
}

#show{
    display: block;
}

#notshow {
    display: none;
}
li{
    list-style-type: none;
    text-decoration: none;
}

.btn {
    min-width: 24rem;
}



.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-grey {
    border: 2px solid #e8e6f2 !important;
    color: #312f3a !important;
}

.btn-grey:hover, .btn-grey:active {
    background-color: #7c6afa !important;
    color: white !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


@media screen and (max-width: 1060px) {
    .main {
        min-width: 850px;
    }
    #section1 {
        margin-bottom: 16em;
    }
    .bg-map::before {
        top: 49em;
        width: 49em;
    }
    h1,h2 {
        font-size: 5.2rem;
    }
    #section3 .col-sm {
        flex: none;
    }
    #section3__title {
        font-size: 6.2rem;
        font-weight: 600;
        margin-top: 0;
    }
    #section3 .row {
        margin-top: 2em;
        margin-left: 0;
        padding: 0;
    }
    #section3 .list li {
        flex-direction: column;
         align-items: flex-start;
        justify-content: flex-start;
    }
    #section3 .list li>span {
        margin-left: 0;
    }
    .img-responsive {
        width: 100%;
    }
    #section3 .list li>span {
        font-size: 1.6rem;
    }
    .form-accept {
        font-size: 1.1rem;
        color: grey;
        margin-top: 3em;
    }
    
}

@media screen and (max-width: 1160px) {
    .main {
        padding: 0 4em;
    }
    #section5 {
        margin-top: 5em;
        margin-bottom: 10em;
        width: 100%;
    }
    #section5__description {
        font-family: var(--font3);
        font-size: 1.8rem;
    }
    #section5__title {
        font-size: 5.2rem;
    }
    #section6__title {
        font-size: 5.6rem;
    }
    .section6__container-list-item {
        max-width: 270px;
    }
    .section6__container-title {
        font-size: 4rem;
    }
    .pricing-item {
        width: 80%;
        margin-bottom: 3em;
    }
    .section10__descr-container {
        flex-direction: column;
    }
    .email {
        padding: 0;
    }
    .section10__descr {
        font-size: 1.8em;
        width: 100%;
        margin: 0.4em 0 2em 0;
    }
}
@media screen and (max-width: 860px) {
  
        h1,h2 {
            font-size: 5.2rem !important;
        }
        .main {
            min-width: 100%;
        }
        #list {
            display: none;
        }
        #header__button {
            display: block;
        }
        #header {
            padding: 4rem 0 1rem;
        }
        #open-menu {
            display: block;
        }
        #section1 {
            margin-bottom: 10em;
        }
        .bg-map::before {
            top: 43em;
        }
        .section5__list-item {
            margin-top: 1.6em;
            font-size: 1.6rem;

        }
        #section5_2 {
            margin-top: 5em;
        }
        #section6__title {
            font-size: 4.6rem;
        }
        .section6__container-list-item {
            max-width: 270px;
        }
        .coma {
            margin-bottom: 3em;
        }
        .block-info {
            margin-top: 4em;
        }
        .nigga {
            width: 48%;
        }
        .form-accept {
            font-size: 1rem;
        }
        #section10 .btn {
            width: 100%;
        }
    }
@media screen and (max-width: 860px) {
    .section5__title {
        font-size: 3.2rem;
    }
    .section5__description {
        font-family: var(--font3);
        font-size: 1.9rem;
        line-height: 1.7;
    }
    .section6__container-title {
        font-size: 2.8rem;
    }
    .section6__container-list-item {
        padding-top: 1.3em;

    }
    .footer-bottom {
        flex-direction: column;
    }

    #logo-img {
        height: 100%;
    }

    .logo-links {
        width: fit-content;
        margin: 0 auto;
    }
    .footer-bottom {
        align-items: center;
        justify-content: center;
    }
    .footer-header {
        margin-top: 4em;
        width: 70%;
    }
    #open-menu {
        display: block;
        margin-bottom: 1.86em;
    }
}

@media screen and (max-width: 600px) {
        .main {
            padding: 1.8em;
            width: 100%;
        }
        h1, h2 {
            font-size: 3.8em !important;
        }
        #description {
            min-width: 15em;
        }

        #section2__list {
            display: flex;
            margin-top: 5em;
            flex-direction: column;
            padding: 0;
        }   
        .bg-map::before {
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 33em;
            width: 90%;
            min-width: 35em;
        }
        #header {
            padding: 2rem 0 3rem;
        }
        #section2__title2 {
            font-size: 3.2rem;
        }
        #section1 {
            margin-bottom: 0;
        }

        #section2__list li {
            margin-bottom: 2em;
            padding: 0;
        }  
        #section3__title {
            font-size: 3.4rem;
        }
        .itm-chart .left span.range {
            left: -4rem;
        }
        #section5_1 {
            padding-left: 0.3em;
        }

        #section5_2 {
            margin-top: 5em;
        }
        #section5 .btn {
            min-width: 24rem;
            width: 100%;
        }
        #section6 {
            padding: 0 0;
        }
        .section6__container-padder {
            padding-top: 2em;
        }
        .section6__container-list {
            margin-left: 1em;
        }
        .section6__container-marginer {
            margin-top: 4em;
        }
        .section6__container-title {
            font-size: 2.2rem;
            margin-left: 1.3em;
        }
        .section6__container-inf {
            padding-left: 2em;
        }
        .section6__container-list-item {
            padding-top: 1.5rem;
            font-size: 1.6rem;
            font-family: var(--font3);
        }
        #section5_3, #section5_4 {
            margin-top: 3em;
        }
        #section5 {
            margin-bottom: 1em;
        }
        .bloks-elem {
            padding: 2.5rem 3.2rem;
        }
        .bloks-elem__author {
            font-size: 1.5rem;
        }
        .bloks-elem__text {
            font-size: 1.6rem;
        }
        .bloks-elem__author-desc {
            font-size: 1.3rem;
        }
        .block-info {
            margin-top: 3em;
        }
        .titles {
            font-family: var(--font2);
            font-size: 3.2rem;
        }
        .blocks {
            margin: 0;
        }
        .bloks-elem {
            margin-top: 2em;
        }
        #section7 {
            padding-top: 2em;
        }
        #section6 .titles {
            font-size: 4rem;
            margin-left: 0.74em;
            margin-bottom: 0.6em;
            margin-top: 0.9em;
        }
        .coma {
            width: 3.8em;
            margin-bottom: 2em;
        }
        .person-min {
            display: flex;
            flex-direction: column;
            width: 50%;
        }
        #team {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .nigga {
            width: 100%;
        }
        .nig-image {
            width: 44%;
            height: 100%;
        }
        .nigga {
            flex-direction: row;
            justify-content: space-between;
        }
        .name {
            margin-top: -0.3em;
        }
        .nigga-text {
            margin: 0.4em 0;
        }
        #team .bloks-elem__text {
            font-size: 1.4rem;
            margin: 0;
        }
        .texts {
            font-size: 2rem;
            margin-top: 1em;
        }
        #section8 .titles {
            padding: 0;
        }
        .nigga {
            margin-bottom: 3em;
        }
        .pricing-item {
            width: 100%;
        }
        .pricing-options__item {
            font-size: 1.4rem;
        }
        .price {
            font-size: 4rem;
        }
        .pricing-options__description {
            font-size: 1.4rem;
        }
        #section9 .btn {
            font-size: 1.4rem;
        }
        .pricing-item {
            padding: 0 1.6em 2em 1.6em;
        }
        #section9 .btn {
            font-size: 1.5rem;
        }
        #section10 {
            padding: 1em 0;
            padding-bottom: 3em;
        }
        #section10 .form-control {
            flex-direction: column;
        }
        #section10 .form-control {
            height: 45em;
            margin-top: 0;
        }
        .form-input {
            width: 100%;
            padding: 0;
        }
        .form-input-message {
            padding: 0;
            width: 100%;
        }
        .section10__title {
            font-size: 4em;
            margin-bottom: 0.6em;
        }
        .section10__descr {
            font-size: 1.4em;
            margin: 0.4em 0 0.2em 0;
        }
        .email {
            font-size: 1.8em;
        }
        .input-lable {
            display: block;
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
            color: grey;
        }
        .logo-links {
            margin: 0;
        }
        .footer-bottom {
            align-items: flex-start;
        }
        .footer-header {
            flex-wrap: wrap;
            width: 100%;
        }
        .footer-header li {
            width: 50%;
            margin: 1em 0;
        }
        #footer-item-right {
            padding-left: 2em;
        }
        #logo {
            height: 40px;
        }

    }
    @media screen and (min-width: 576px)
    {
    .pl-sm-2, .px-sm-2 {
        padding-left: 0.5rem !important;
    }
    .pr-sm-2, .px-sm-2 {
        padding-right: 0.5rem !important;
    }
   
    }
    @media screen and (max-width: 290px) {
        .main  {
            padding: 1.5em;
        }
        .titles {
            font-size: 2.5em;
        }
        #description {
            font-size: 1.5rem;
        }
        .bg-map::before {
            left: -1.5em;
            right: 0;
            top: 25em;
            width: 5em;
            min-width: 30em;
        }
        #top {
            height: 60em;
        }
        #section3 .list li {
            min-width: 200px;
        }
        h1,h2 {
            font-size: 2.7rem !important;
        }
        #section5 .btn {
            width: 80%;
            margin-right: 2em;
        }
        .section6__container-inf {
            padding-left: 1em;
        }
        .section6__container-title {
            font-size: 2rem;
            margin-left: 1.1em;
        }
        .section6__container-list-item {
            font-size: 1.5rem;
        }
        .pricing-item {
            padding: 0 0.5em 2em 0.5em;
        }
        #section9 .btn {
            font-size: 1.3rem;
        }
        .section5__description {
            font-size: 1.6rem;
        }
        .section5__list-item {
            font-size: 1.4rem;
        }
        #section8 {
            padding-bottom: 0;
        }
        #section9 {
            padding-top: 0;
        }
        #section9 .main {
            padding-top: 0;
        }
        .pricing {
            margin-top: 3em;
        }
        #section5_3 {
            padding-left: 1rem;
        }
        #section6 .titles {
            font-size: 3.2rem;
            margin-left: 0.54em;
        }
    }

    