#sectionfooter {
    margin-top: 5em;
    margin-bottom: 5em;
}
.footer-top {
    width: 100%;
    display: flex;
}

.footer-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo-links {
    display: flex;
    flex-direction: column;
}
.footer-header {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.footer-header li a{
    text-decoration: none;
    font-size: 1.8rem;
    color: black;
    font-family: var(--font3);
}